// Variables
//colors
$col-light-blue:  #C7F7FF;
$col-med-blue:    #89C0C9;
$col-dark-blue:   #3a5E63;
$col-light-brown: #C9A689;
$col-dark-brown:  #7C593C;
$col-light-grey:  #d4d4d4;
$col-dark-grey:   #222;
$col-white: #fff;
//fonts
$font-serif: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
$font-sans: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;